html,
body.sb-show-main {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 !important;
	/* background-color: whitesmoke !important; */
}

.sb-show-main #storybook-root {
	width: 100%;
	height: 100%;
	padding: 0 !important;
	overflow: hidden;
	display: flex;
}

.sb-show-main #storybook-root[hidden='true'] {
	display: none;
}
